<!-- Posts' file -->

<br>
<div class="messageStyle">
  <%= @message %>
</div>
<br>
<div id="postPlace">
  <div id="movieTitle">
    <div id="leftSide">
      <%= @edgeLeft %>
    </div>
    <div id="moviesTitle">
      <%= @movieTitle %>
    </div>
    <div id="rightSide">
      <%= @edgeRight %>
    </div>
  </div>
</div>
<!-- <%= @users %> -->
